
.bloque__login {
    display: none;
    padding: 6rem 0rem 4rem;
    transition: opacity 0.4s ease-in-out;
}

.bloque__login--visible {
    opacity: 1;
}

.bloque__login--enabled {
    display: block;
}

.login__titulo {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

/* .login__formulario {} */

.login__input {
    
    display: flex;
    align-items: center;
    flex: none;
    color: var(--texto-gris);

    margin: 1rem auto;
    padding: 10px 20px;
    
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 275px;
}

/* .login__input--email {}

.login__input--password {} */

.login__input--submit {
    color: var(--texto-blanco);
    background-color: var(--bg-boton-azul);
    border: none;
    border-radius: 0;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 500;
    width: 110px;
}