
.bloque__todos-los-productos {
    margin: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bloque__todos-los-productos--enabled {
    display: block;
}

.bloque__todos-los-productos--visible {
    opacity: 1;
}

.grilla--todos-los-productos .item:nth-of-type(n+ 5){
    display: block;             
                    /* n+ 5  ===>  selecciona a partir del 5to elemento de 
                     clase item para mostrar los items  */
} 

.todos-los-productos__encabezado{
    flex-direction: column;
    margin: 20px 0px 15px;
}

.todos-los-productos__boton {
    color: var(--texto-blanco);
    background-color: var(--bg-boton-azul);
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    width: 50vw;
    margin-top: 15px;
}


