

.info__quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.info__logo {
    margin: 10px auto;
    height: auto;
    display: flex;
    align-items: center;
    width: 50%;
 }

.info__logo-enlace {
   text-decoration: none;
   display: inline-block;
   width: 100%;
}
 
 .info__logo--joystick {
    margin-right: 3px;
    width: 40px;
 }
 
 .info__logo--alura {
    width: 60px;
 }
 
 .info__logo--geek {
    width: 60px;
 }
 
 .info__enlace {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
 }


