.bloque__productos{
    margin: 0 1rem;
 }

 .bloque__productos--invisible {
     display: none;
 }

.productos {
    padding: 0.5rem 0rem 2rem;
}

.productos__encabezado {
    display: flex;
    justify-content: space-between;
    line-height: 26px;
    margin: 1rem 0;
}

.productos__titulo {
    color: var(--texto-gris);
    font-size: 22px;
    font-weight: 700;
    
}

.productos__ver-todo {
    color: var(--texto-azul);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.productos__ver-todo--flecha {
    height: 14px;
    vertical-align: middle;

}


.productos__grilla {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-template-rows: auto;
    grid-gap: 3%;
}

.item{
    width: 100%;
    height: auto;
}

.item:nth-of-type(n+ 5){        /* n+ 5  ===>  selecciona a partir del 5to elemento de   */
    display: none;              /*    clase item para no mostrar los items  */
}

.item__imagen {    
    height: auto;
    width: 100%;
}

.item__nombre {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 500;
}

.item__precio {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 700;
}

.item__enlace {
    color: var(--texto-azul);
    margin: 8px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}